<!-- Navbar is its own angular component-->
<ct-navbar></ct-navbar>

<!-- Leave some space for navbar ... ????? -->
<!-- <div style="height:50px;"></div> -->

<!-- Fullpagejs split image element -->
<div style="padding-top: 50px;" mnFullpage [mnFullpageKeyboardScrolling]="true" [mnFullpageControlArrows]="true" [mnFullpageSectionsColor]="['white','#728CA6','#F4F4F4']"
 [mnFullpageLockAnchors]="false" [mnFullpageAnchors]="['info','login','register']">
	<!-->info section</!-->
	<div class="section fp-section fp-table" data-anchor="info" style="height:100%;">
		<style>
			#welcome_section_bg {
				background: url(abstract4.jpg) no-repeat center top scroll;
				vertical-align: middle;
				text-align: center;
				background-size: 100% 100%;
				padding-bottom: 50%;
				padding-top: 10px;
			}
		</style>
		<div class="fp-tableCell" id="welcome_section_bg" style="padding-top:330px;height:100%;vertical-align:middle;">
			<div class="row">
				<span class="glyphicon glyphicon-knight" style="font-size:80px;"></span>
				<h1 style="font-size:100px;line-height:150px;color:dark grey;">
					LANCER
				</h1>
				<h3>Hire expert freelancers for your job, online</h3>
			</div>
		</div>
	</div>

	<!-->login section </!-->
	<div class="section fp-section fp-table" data-anchor="login">
		<style>
			#login_bg {
				position: relative;
				z-index: 1;
				background: url(abstract5.jpg) no-repeat center center;
				/**/
				background-size: :100% 100%;
				width: 100%;
			}
		</style>
		<div id="login_bg" style="height:100%;">
			<div class="row" style="height:100%;">
				<div class="col-sm-4">
					<!-->Empty col for division</!-->
				</div>
				<div class="col-sm-4" style="height:100%;">
					<style>
						.outer {
							height: 100%;
							width: 100%;
							position: relative;
						}

						.inner {
							position: absolute;
							top: 40%;
							left: 50%;
							transform: translate(-50%, -50%);
						}
					</style>
					<login></login>
				</div>
				<div class="col-sm-4">
					<!-->Empty col for division</!-->
				</div>
			</div>
		</div>
	</div>
	<!-- Register section -->
	<div class="section fp-section fp-table" data-anchor="register">
		<style>
			#register_bg {
				position: relative;
				z-index: 1;
				background: url(abstract6.jpg) no-repeat center center;
				/**/
				background-size: cover;
				width: 100%;
			}
		</style>
		<div id="register_bg" style="height:100%">
			<div class="row" style="height:100%;">
				<div class="col-sm-1">
					<!-->Empty col for division</!-->
				</div>
				<div class="col-sm-10" style="height:100%;">
					<signup></signup>
				</div>
				<div class="col-sm-1">
					<!-->Empty col for division</!-->
				</div>
			</div>
		</div>
	</div>
</div>