
<div class="row">
  <div class="col-sm-1">
  </div>
  <div class="col-sm-10">
  <div class="outer">
      <div class="inner">
        <div class="container-fluid" style="border-radius: 25px; background-color: rgba(255, 255, 255, 0.7);">
            <h2>Post jobs, seek freelancers</h2>
            <hr>
            <div class="col-sm-4">
              <br>
              <label>Post jobs for freelancers, which will offer their price for the service</label>
              <br><br> Browse between many freelancers, which are specialized in different skills
              <br><br> Add images and geolocation with precise job location
              <br><br> Browse and accept offers for posted jobs
              <br><br> Pay, if and when the job is done
              <br><br> Rate the service you received from a hired freelancer
            </div>
            <div class="col-sm-2">
            </div>
            <div class="col-sm-3">
            <div style="height:200px; width:200px;overflow:hidden;"  style="text-align:center;">
              <br><img class="img-thumbnail" style="img-responsive" src="https://image.freepik.com/free-vector/networking-concept_23-2147510641.jpg">
              <a href="http://www.freepik.com/free-vector/networking-concept_787790.htm">Designed by Freepik</a>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<div class="col-sm-1">
</div>

</div>
<br>
<div class="row">
  <div class="col-sm-1">
  </div>
  <div class="col-sm-10">
    <div class="outer">
        <div class="inner">
          <div class="container-fluid" style="border-radius: 25px; background-color: rgba(255, 255, 255, 0.7);">
            <h2>Communicate with freelancers</h2>
            <hr><br>
            <div class="col-sm-4"><label>Communicate directly with freelancers about future collaboration</label>
              <br><br>Use chat to communicate with a selected freelancer
              <br><br>Use cool emojis when using our chat :)
              <br><br>Offer new jobs to freelancers you already worked with
              <br><br>
            </div>
            <div class="col-sm-2">
            </div>
            <div class="col-sm-3">
            <div style="height:200px; width:200px;overflow:hidden;"  style="text-align:center;">
              <img class="img-thumbnail" style="img-responsive"  src="https://image.freepik.com/free-vector/mobile-phone-background-design_1223-131.jpg">
              <a href="http://www.freepik.com/free-vector/mobile-phone-background-design_1092273.htm">Designed by Freepik</a>
            </div>
          </div>
            </div>
        </div>
    </div>
  </div>
</div>
