<style>
  .sebm-google-map-container {
    height: 200px;
  }

  .btn-c:hover {
    background-color: #f2f2f2;
  }
</style>
<div class="row">
  <div class="col-sm-3">
  </div>
  <div class="col-sm-6">
    <hr style="border-color: #999999;">
  </div>
  <div class="col-sm-3">
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
  </div>
  <div class="col-sm-4">
    <div class="container-fluid">
      <h2><label>{{data.title | uppercase}}</label></h2>
      <h2>{{data.job_date | date}}</h2>
      <h4><span class="label label-default">{{data.categorie}}</span></h4>
    </div>
    <div class="container-fluid">
      <i>{{data.description}}</i>
    </div>
    <br>
    <div class="container-fluid">
      <label>Author</label> {{data.author}}&nbsp;&nbsp;&nbsp;
      <label *ngIf="data.authors_phone_number != null || data.authors_email != null">Contact</label>
      <span *ngIf="data.author_phone_number != null">{{data.author_phone_number}}</span>
      <span *ngIf="data.author_phone_number != null && data.authors_email != null">|</span>
      <span *ngIf="data.authors_email != null">{{data.authors_email}}</span>
    </div>
    <div *ngIf="!data.allow_gps" class="container-fluid">
      <label>Job location</label>
      {{data.location}}
    </div>
    <div class="container-fluid">
      <label>Date posted</label> {{data.date_posted | date}}<br>
    </div>
    <br>
    <modal-gallery style="margin-left:15px;" [modalImages]="images"
      [downloadable]="false"
      [slideConfig]="{infinite: false}"
      (hasData)="onImageLoaded($event)"
      (close)="onCloseImageModal($event)"
      (show)="onVisibleIndex($event)"
      (firstImage)="onIsFirstImage($event)"
      (lastImage)="onIsLastImage($event)">
    </modal-gallery>

    <div class="container-fluid">
      <br><br>
      <button class="btn btn-c" type="button" *ngIf="offers" (click)="giveOffer()">Make an offer</button>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="container-fluid" style="text-align:center;">
      <h4 style="margin-top:22px;color: purple;"><label>{{elapsed_time}}</label></h4>
      <br>
      <sebm-google-map *ngIf="data.allow_gps" [latitude]="data.coordinate_latitude" [longitude]="data.coordinate_longitude">
        <sebm-google-map-marker [latitude]="data.coordinate_latitude" [longitude]="data.coordinate_longitude"></sebm-google-map-marker>
      </sebm-google-map>
      <br>
      <div *ngIf="data.allow_gps" class="container-fluid">
        <label>Job location</label>
        {{data.location}}
      </div>
      <br>
      <div *ngIf="give_offer" class="form-group" style="align-items: center;">
        <div class="col-sm-8">
          <input placeholder="Your price" class="form-control" type="number" #myoffer>
        </div>
        <button (click)="sendOffer()" class="btn btn-primary" type="button" #submitoffer >Submit</button>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
  </div>
</div>
<br>

<modal #notificationsModal>
  <modal-header [show-close]="true">
    <h4 class="modal-title">Notification</h4>
  </modal-header>
  <modal-body>
    {{notification.message}}
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-primary" (click)="notificationsModal.close()">Ok</button>
  </modal-footer>
</modal>
